<%
function invertColor(hex, bw) {
    if (hex.indexOf('#') === 0) {
        hex = hex.slice(1);
    }
    // convert 3-digit hex to 6-digits.
    if (hex.length === 3) {
        hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
    }
    if (hex.length !== 6) {
        throw new Error('Invalid HEX color.');
    }
    var r = parseInt(hex.slice(0, 2), 16),
        g = parseInt(hex.slice(2, 4), 16),
        b = parseInt(hex.slice(4, 6), 16);
    if (bw) {
        // http://stackoverflow.com/a/3943023/112731
        return (r * 0.299 + g * 0.587 + b * 0.114) > 186
            ? '#000000'
            : '#FFFFFF';
    }
    // invert color components
    r = (255 - r).toString(16);
    g = (255 - g).toString(16);
    b = (255 - b).toString(16);
    // pad each with zeros and return
    return "#" + padZero(r) + padZero(g) + padZero(b);
}

%>   
   
   <div class="col-3 productbox">
    <img src="<%= flower.img %>" class="img-fluid rounded m-auto d-block">
    <div class="producttitle"><%= flower.name %></div>
    <table class="table table-sm">
        <tbody>
            <tr>
                <th>Family</th>
                <td><%= flower.family %></td>
            </tr>
            <tr>
                <th>Color</th>
                <td class="text-center border" style="background-color:<%= flower.color %>;color:<%= invertColor(flower.color, true)%>">
                     <%= flower.colorDesc%>
            </td>
            </tr>
        </tbody>
    </table>
    <div class="productprice">
        <div class="float-right">
            <a href="#" class="btn btn-danger btn-sm" role="button">BUY</a>
        </div>
        <div class="pricetext">₪<%= flower.price %></div>
    </div>
</div>