<div class="card" style="width: 18rem;">
    <div class="card-header">
        <%= user.username %>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <%= user.firstName %>
            <%= user.lastName %>
        </li>
        <li class="list-group-item">
            <%= user.address %>
        </li>
        <li class="list-group-item">
            <%= user.email %>
        </li>
        <li class="list-group-item">
            <%= user.gender === 1? "Male" : "Female" %>
        </li>
    </ul>
</div>