<!-- this page is a test page in order to check different features, the actual html should be proccessed via ejs -->

<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        password reset for <%= username %> | Flowers++</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--#region bootstrap + jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- #endregion  -->

    <!--#region jsgrid -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" rel="stylesheet">
    <!-- #endregion  -->

    <link href="./css/MyCss.css" rel="stylesheet">
    <script src="./scripts/main.js"></script>
    <!--#region jQuery UI -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- #endregion  -->

    <!-- ionicons -->
    <link href="https://unpkg.com/ionicons@4.0.0/dist/css/ionicons.min.css" rel="stylesheet" />


</head>

<body>
    <!-- jsgrid script, cannot be moved to head -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.js"></script>
    <%- include("partials/plain-nav") %>

        <div class="container">
            <h2>password reset for <%= username %></h2>
            <form role="form" action="/completeReset" id="signup-form" method="POST">
                <div class="form-group">
                    <input type="text" value="<%= key %>" name="key" style="display: none">
                    <input type="text" name="username" class="form-control" placeholder="User Name" value="<%= username %>" style="display: none" required
                    />
                    
                    <input type="password" name="password" class="form-control" placeholder="New password" required />
                    <input class="btn btn-primary" type="submit" value="Submit">
            </form>
            </div>
</body>

</html>