<% 
function toTitle(str)
{
    return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}).replace("-", " ");
}

var userType = user.__proto__.constructor.name
    var tabs = ["about","catalog"];
    if (userType === "Employee" || userType === "Manager"){
        tabs.push("users");
    }
    if (userType === "Manager"){
        tabs.push("branches");
    }
    tabs.push("contact-us")

 %>
<div class="nav nav-pills" id="nav-tab" role="tablist">

    <% for(var tab of tabs){ %>
    
    <a class="nav-item nav-link <%- tab === "about"?"active":"" %> " id="nav-<%- tab %>-tab" data-toggle="tab" href="#nav-<%- tab %>" role="tab" aria-controls="nav-<%- tab %>" aria-selected="<%- tab === "about" %>">
        <%- toTitle(tab) %>
    </a>
    <% } %>
</div>